img {
    height: 150px;
    box-shadow:5px 5px 5px rgb(41, 40, 40);
  }
  
  .description {
    font-size: 20px;
  }
  
  #cook-time {
    font-weight: bold;
  }
  
  .ingredients {
    list-style: square;
  }
  
  p.time {
    color: gray;
  } 
  
  a.external-link {
    color: SeaGreen;
  }
  
  h1, h2, p, li {
    font-family: Helvetica;
  }
  body{
  background-image: linear-gradient(-75deg, rgb(57, 56, 59), rgb(41, 64, 139));
    color: white;
  }